# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Logs
*.log
*.tmp
*.out

# IDE / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Coverage / Reports
htmlcov/
.coverage
invoices_json/
invoices_pdf/