--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]


dotenv
environs
python-dotenv

google-generativeai  

sentence-transformers
transformers
torch
numpy
scikit-learn
huggingface-hub
tokenizers
tqdm


langchain
langchain_huggingface


chromadb


pandas
strawberry-graphql[fastapi]  # GraphQL + FastAPI integration
httpx  # HTTP client for external service calls
pymongo  # MongoDB for shared document tracking

